{% extends 'main/base.html' %}

{% block title %}
Збережи Україну від негідників!
{% endblock %}

{% block logoDescription %}
Збережи Україну від ворожих виродків!
{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="static/js/index.js"></script>
{% endblock %}

{% block outerContainer %}
<div id="scroll-proggress-bar">
</div>
<div class="main-media">
    <div class="main-media-title">
        SAVE<br>UKRAЇNE
    </div>
</div>
    <div class="inner-description">
        <h2>Про сайт</h2>
        <div class="left-bordered">
            Даний сайт був створений для розповсюдження інформації про приховану загрозу у вигляді нібито «українських
            патріотів» або просто прихильників руського міра які активно підтримують державу-агресорку під час війни.
            Мова йде про таких зрадників українського народу як депутати вже не існуючої фракції ОПЗЖ, Ілля
            Кива, Наталія Королевська, Льовочкін Сергій та інші. Також до цього списку входять зірки та представники
            шоубізнесу які продалися за рублі, а саме: Ані Лорак, Анна Сєдокова, Регіна Тодоренко, Таїсія Повалій тощо.
            Кожен українець повинен знати їх імена та обличчя!
        </div>
        <div class="to-traitors-list-button" onclick="window.location = '/traitors-list'">
            ДЕТАЛЬНІШЕ ПРО ЗРАДНИКІВ
        </div>
        <h2>Детальніше про події в Україні</h2>
        <div class="left-bordered">
            <ul>
                <li>
                    Вранці 24 лютого Росія розпочала широкомасштабне вторгнення в Україну по всій довжині спільного
                    кордону і з
                    території Білорусі. Володимир Путін назвав це «спецоперацією», а метою оголосив – «демілітаризацію і
                    денацифікацію України».
                </li>
                <li>
                    Російська армія обстріляла із артилерії українські прикордонні застави. Одночасно
                    були завдані удари, зокрема і з повітря, по понад 40-ка об'єктах військової інфраструктури майже
                    всіх
                    регіонів країни.
                </li>
                <li>
                    В Україні був оголошений воєнний стан і загальна мобілізація.
                </li>
                <li>
                    Країни Заходу застосовують все більше економічних санкцій проти Росії та її керівництва, і вимагають
                    припинити війну проти України.
                </li>
                <li>
                    Тривають важкі бої на підступах до Києва, Харкова, Чернігова, Миколаєва та міст Донбасу.
                </li>
                <li>Маріуполь перебуває у тривалій облозі, у місті гуманітарна катастрофа. Окупанти не дають вивезти
                    цивільне
                    населення.
                </li>
                <li>
                    Російська армія вдається до бомбардувань, ракетних та артилерійських обстрілів житлових кварталів
                    міст,
                    знищує цивільну інфраструктуру, лікарні, школи, історичні пам'ятки.
                    НАТО відмовляється «закрити небо над Україною», стверджуючи, що це може призвести до «початку
                    Третьої
                    світової війни».
                </li>
            </ul>
        </div>
    </div>
<div class="recent-users">
    <h2>Нещодавні користувачі</h2>
    {% for user in recent_users %}
    <div class="user">
        <div class="user-creation-date">
            <span title={{user.creation_date}}>{{user.creation_date}}</span>
        </div>
        <img class="user-photo" src={{user.profile}} alt="user avatar">
        <span class="user-name">
            {{user.name}}
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}