{% extends 'main/base.html' %}

{% block title %}
Список осіб, які загрожують Україні
{% endblock %}

{% block logoDescription %}
Список осіб, які загрожують Україні
{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/traitorsList.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="static/js/traitorsList.js"></script>
{% endblock %}

{% block outerContainer %}
<h2 style="text-align: center">Зрадники України</h2>
<div class="traitors-list">
    <ul>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/kiva.jpg">
                <div class="name">
                    Ілля Кива
                </div>
                <div class="description">
                    Перед повномаштабним вторгненням РФ на територію України 24 лютого 2022 р., втік до Іспанії.
                    В березні 2022 був огоголошений в підозрі в державній зраді. 15 березня 2022 року
                    позбавлений депутатського мандату Верховною Радою України — 335 голосів «за».
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/medvedchuk.jpg">
                <div class="name">
                    Віктор Медведчук
                </div>
                <div class="description">
                    Депутатам від ОПЗЖ Віктору Медведчуку та Тарасу Козаку повідомили про підозру у держзраді і
                    замаху на розграбування національних ресурсів у Криму
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/korolevskaya.jpg">
                <div class="name">
                    Наталія Королевська
                </div>
                <div class="description">
                    Ната́лія Ю́ріївна Короле́вська (18 травня 1975, м. Красний Луч, Ворошиловградська область) —
                    проросійська політична та державна діячка, колишня міністерка соціальної
                    політики України (2012—2014), лідер партії «Україна — вперед».
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/levochkin.png">
                <div class="name">
                    Сергій Льовочкін
                </div>
                <div class="description">
                    Сергі́й Володими́рович Льо́вочкін (нар. 17 липня 1972, Київ, УРСР) — український
                    проросійський політичний та державний діяч, бізнесмен. Член проросійської фракції ОПЗЖ у
                    Верховній раді.
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/boiko.jpg">
                <div class="name">
                    Юрій Бойко
                </div>
                <div class="description">
                    Ю́рій Анато́лійович Бо́йко (нар. 9 жовтня 1958, Горлівка, Донецька область, УРСР) —
                    український проросійський політик. Народний депутат України VIII та IX скликань. Герой
                    України (2004). Віце-прем'єр-міністр України (2012—2014) в уряді Миколи Азарова.
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/shariy.jpg">
                <div class="name">
                    Анатолій Шарій
                </div>
                <div class="description">
                    В Іспанії затримали проросійського блогера Анатолія Шарія, підозрюваного у держзраді.

                    За даними СБУ, пропагандист здійснював протиправну діяльність і шкодив національній безпеці
                    України в інформаційній сфері.
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/lorak.jpg">
                <div class="name">
                    Ані Лорак
                </div>
                <div class="description">
                    Співачка Ані Лорак – замовчування агресора та реальної ситуації в Україні. Мовчазна
                    підтримка путінського режиму.
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/todorenko.jpg">
                <div class="name">
                    Регіна Тодоренко
                </div>
                <div class="description">
                    Блогерка і ведуча Регіна Тодоренко – замовчування агресора та реальної ситуації в Україні);
                </div>
            </div>
        </li>
        <li>
            <div class="photo-element">
                <img class="photo" src="static/images/povaliy.jpg">
                <div class="name">
                    Таїсія Повалій
                </div>
                <div class="description">
                    Співачка Таїсія Повалій – замовчування агресора та реальної ситуації в Україні.
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}